<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой блог{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Мой блог</h1>
        <nav>
            <a href="{% url 'article_list' %}">Список статей</a>
            <a href="{% url 'article_new' %}">Новая статья</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Дипломная работа. Мой блог (Проект на Django)</p>
    </footer>
</body>
</html>