<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Мой блог{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Мой блог</h1>
        <nav>
            <a href="{% url 'article_list' %}">Список статей</a>
            <a href="{% url 'article_new' %}">Новая статья</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'account_logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'account_login' %}">Войти</a>
                <a href="{% url 'account_signup' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 Дипломная работа. Мой блог (Проект на Django)</p>
    </footer>
</body>
</html>